.help
    .title
        max-width: 50%
        margin: 0 auto 0 50px

    .container
        padding: 60px 0
        &::before
            content: ''
            display: block
            width: 92%
            height: 100%
            position: absolute
            top: 0
            left: 50%
            transform: translateX(-50%)
            background-color: $yelow
            z-index: -1
            background-image: url('../img/arrowright.svg')
            background-position: right 25% center
            background-repeat: no-repeat
            pointer-events: none

    h2
        width: 100%
        font-size: 40px
        font-style: normal
        font-weight: 900
        line-height: 130%
        text-transform: uppercase
        margin: 0 0 20px
        padding: 0

    p
        font-size: 20px
        font-weight: 500
        line-height: 130%
        margin: 0

    .phone
        display: block
        text-align: right
        margin-bottom: 16px

    @media screen and ( max-width: 1500px )
        .container
            max-width: 1200px

    @media screen and ( max-width: 1200px )
        img 
            margin: 0 0 20px 40px
            display: none

        h2 
            margin-bottom: 5px

        .container
            display: block
            padding: 40px 32px 45px
            // max-width: 600px

            &::before
                background-image: none
                height: 100%
                transform: none
                left: 0
                bottom: 0
                top: auto 
                width: 100%

        .title
            max-width: 100%
            margin: 0 auto 30px

        .phone
            text-align: left
            max-width: 300px
            margin: 0 

        .contact 
            display: flex
            flex-wrap: wrap
            flex-direction: row-reverse
            justify-content: flex-end
            align-items: center
            gap: 25px
            margin: 0 auto 0 0

    @media screen and ( max-width: 700px )
        .container 
            padding: 30px 22px 35px
        h2 
            font-size: 30px
        p 
            font-size: 16px
    
