.leasing
    padding: 50px 0 0
    position: relative
    z-index: 1
    overflow: hidden
    &::before
        content: ''
        display: block
        width: 40%
        height: 100%
        position: absolute
        bottom: 0
        right: 0
        z-index: -1
        background-color: rgba($yelow, .6)
        // transform: skew(-30deg)

    .container
        padding: 60px 32px 200px
        max-width: 1100px

    &__img
        position: absolute
        bottom: 0
        right: 0
        height: 110%
        object-fit: contain

    h2
        margin-bottom: 0

    p
        max-width: 400px
        margin-bottom: 40px

    .logos
        position: absolute
        bottom: 8%
        left: 0
        height: 70px
        width: 60%
        background: #FFF
        box-shadow: 0px 4px 23px -3px rgba(0, 0, 0, 0.25)
        background-image: url(../img/logos-leas-line.png)
        background-size: auto 60%
        background-repeat: repeat space
        animation: run 8s ease-in-out infinite alternate-reverse

    h3
        font-weight: 600
        max-width: 270px
        text-transform: none
        font-size: 24px
        margin: 0

    form
        max-width: 400px

    @media screen and ( max-width: 1100px )
        .wrap
            display: block

        .container
            padding: 120px 32px 50px

        &__img
            z-index: -111
            right: -43%
            width: 100%

        form
            padding: 20px
            background-color: #fff

        .logos
            width: 100%
            bottom: auto
            top: 20%

    @media screen and ( max-width: 700px )
        .logos
            height: 55px
            top: 18%

        &__img
            object-fit: cover
            object-position: left top
            height: 100%
            right: auto 
            left: 30%

        .container
            padding: 100px 15px 50px
            p
                max-width: 58%

@keyframes run
    0%
        background-position: left 0% center
    100%
        background-position: left 100% center

mark
    display: inline-block
    vertical-align: middle
    padding: 0 10px
    background: $yelow
    color: #000
