@import 'normolize'
@import 'elements'
@import 'header'
@import 'modal'
@import 'slick'
@import 'UI'
// @import 'leasing'

.main
    padding-top: 50px
    position: relative
    z-index: 1
    overflow: hidden
    background-image: url('../img/main-bg.jpg')
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    color: #fff
    &::before
        content: ''
        display: block
        width: 300px
        height: 110%
        position: absolute
        top: 0
        left: calc((100% - 1300px)/2)
        background: linear-gradient(180deg, rgba($yelow, 0.00) 0%, rgba($yelow, 0.50) 32.79%, rgba($yelow, 0.25) 64.94%, rgba($yelow, 0.00) 100%)
        backdrop-filter: blur(10px)

    .container
        min-height: 800px
        max-height: 1080px
        height: 95vh
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        padding-bottom: 100px

    h1
        font-weight: 900
        max-width: 800px
        font-size: 90px

    &__text
        font-weight: 700
        font-size: 28px
        margin-bottom: 10px

    &__descr
        max-width: 500px
        font-size: 22px
        margin-bottom: 40px

    &__img
        position: absolute
        // right: -15%
        right: calc((100% - 1580px)/2)

        // bottom: 10%
        height: 100%
        width: 70%
        max-width: 1150px
        z-index: 1
        img
            object-fit: contain
            object-position: center center
            width: 100%
            height: 100%
            pointer-events: none

.list
    .wrap
        justify-content: center
        gap: 1%

    .item
        display: block
        width: 290px
        max-width: 18%
        text-align: center
        position: relative
        z-index: 1
        &::after
            content: ''
            display: block
            width: 100%
            height: 50px
            background-repeat: no-repeat
            background-image: url('../img/arrow-down.svg')
            background-position: center bottom
            opacity: 0
            position: absolute
            bottom: 0
            transform: translateY(40px)
            transition: inherit
            pointer-events: none

        .img
            width: 100%
            height: 240px
            display: flex
            align-items: flex-end
            justify-content: center
            padding-bottom: 20px
            position: relative
            z-index: 1
            margin-bottom: 15px
            transition: inherit
            img
                max-width: 75%
                max-height: 95%
                position: relative
                z-index: 1
                object-fit: contain

            &::before
                transition: inherit
                content: ''
                display: block
                width: 100%
                height: 50%
                position: absolute
                bottom: 0
                left: 0
                background-color: #eee

        p
            transition: inherit
            font-size: 20px
            font-style: normal
            font-weight: 500
            margin: 0

        &:hover
            opacity: 1
            text-decoration: underline
            .img, p
                transform: translateY(-60px)
            &::after
                opacity: 1
                transform: translateY(0px)
            .img
                padding: 0
                &::before
                    opacity: 0

.catalog
    padding-top: 0
    .container
        max-width: 1400px
        align-items: flex-start

    .navbar
        border: 1px solid rgba(0, 0, 0, 0.40)
        background: #FFF
        padding: 30px
        margin: 0 0 24px
        a
            display: flex
            align-items: center
            gap: 14px
            font-weight: 500
            padding: 12px 0
            border-bottom: 1px solid rgba(0, 0, 0, .2)
            font-size: 14px
            font-style: normal
            font-weight: 500
            &:last-child
                border: none

            &.active
                text-decoration: underline

        &__heading
            font-size: 18px
            font-weight: 500
            margin-bottom: 20px

    .left
        width: 28%

    .right
        width: calc( 72% - 24px )
        .wrap
            justify-content: flex-start
            align-items: stretch
            border-top: 1px solid rgba(0, 0, 0, .4)
            border-left: 1px solid rgba(0, 0, 0, .4)

    .item
        width: 33.3%
        display: inline-block
        padding: 20px
        border-right: 1px solid rgba(0, 0, 0, .4)
        border-bottom: 1px solid rgba(0, 0, 0, .4)
        img
            width: 90%
            height: 150px
            object-fit: contain
            display: block
            margin: 0 auto 20px
            transition: inherit

        span
            font-size: 20px
            transition: inherit
            font-style: normal
            font-weight: 700
            text-transform: uppercase

        &:hover
            opacity: 1
            & > *
                opacity: .5

.guarantee
    overflow: hidden
    .container
        &::before
            content: ''
            display: block
            width: 100vw
            height: calc( 100% + 70px )
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            opacity: 0.2
            z-index: -100
            pointer-events: none
            background: linear-gradient(90deg, $yelow 0%, rgba($yelow, 0.00) 100%)

    &-title
        max-width: 45%
        margin: 0 auto 0 0

    &-img
        width: 55%
        position: absolute
        top: 60%
        right: 0
        z-index: 1
        text-align: center
        transform: translate(0, -50% )
        img
            max-width: 90%

    &-item
        width: 310px
        height: 460px
        margin: 0 7.5px
        img
            width: 100%
            height: 100%
            max-width: 100%
            border: 4px solid #FFFFFF
            object-fit: cover
        a
            opacity: 1 !important

.map
    text-align: center
    overflow: hidden
    .wrap
        justify-content: center
        gap: 8px 8px

    .btn
        display: inline-block
        padding: 10px 41px 8px 20px
        line-height: 120%
        font-weight: 500
        font-size: 14px
        background-image: url(../img/arrow-down.svg)
        background-repeat: no-repeat
        background-position: top 10px right 20px
        background-size: 15px auto
        min-width: unset

    span
        display: inline-block
        padding: 4px 15px 3px
        border: 1px solid rgba(0, 0, 0, .2)
        font-size: 14px
        text-transform: none

        &::first-letter
            text-transform: uppercase

        &.hidden,
        &.mob-hidden
            display: none

        @media screen and ( min-width: 1200px )
            &.mob-hidden
                display: inline-block

    &-img
        position: relative
        z-index: 1
        &::before
            content: ''
            display: block
            width: 100vw
            height: 60%
            background: linear-gradient(89.99deg, $yelow 0.01%, rgba($yelow, 0) 49.67%, $yelow 99.99%)
            z-index: -1
            pointer-events: none
            position: absolute
            bottom: 20%
            left: 50%
            transform: translateX(-50%)
            opacity: .2

.faq
    overflow: hidden
    .container
        &::before
            content: ''
            display: block
            width: 100vw
            height: calc( 100% + 70px )
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            opacity: 0.2
            z-index: -100
            pointer-events: none
            background: linear-gradient(90deg, $yelow 0%, rgba($yelow, 0.00) 100%)

    .left
        width: 63%

    .title
        width: 34%

.rent
    overflow: hidden
    h2
        font-weight: 400
        b
            font-weight: 900

    .container
        position: relative
        z-index: 1
        &::before
            content: ''
            display: block
            width: 500px
            height: 130%
            position: absolute
            bottom: 0
            right: -20%
            z-index: -1
            background-color: rgba($yelow, .3)

    &-img
        position: absolute
        top: 0
        right: -18%
        height: 100%
        width: 75%
        object-fit: contain

    &__text
        max-width: 65%

    .wrap
        width: 600px
        margin-top: 50px
        gap: 16px 2%
        align-items: stretch

    .item
        width: 49%
        padding: 32px 18px
        text-align: center
        background-color: rgba($yelow, .3)
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        h3
            font-weight: 700
            font-size: 19px
            margin-bottom: 13px

        p
            font-size: 14px
            font-style: normal
            font-weight: 400
            margin: 0

        &:nth-child(2)
            background-color: $yelow

.team
    .item
        background-color: $yelow
        width: 32%
        padding: 42px 0
        &__img
            display: block
            width: 100%
            margin-bottom: 35px

        .phone
            padding: 0 45px
            margin: 0 0 14px

        .btn
            margin: 12px 0 0 42px
            text-transform: none
            font-weight: 500
            padding: 13px 25px 12px

@import 'help'

@media screen and ( max-width: 1500px )
    .main
        &::before
            left: calc((100% - 1100px)/2)

        .container
            min-height: 600px
            height: 90vh
            padding-bottom: 0

        h1
            font-size: 70px

        &__text
            font-size: 24px

        &__descr
            max-width: 550px
            font-size: 18px

        &__img
            width: 60%
            right: calc((100% - 1300px)/2)
            z-index: 1

@media screen and ( max-width: 1200px )
    .main
        padding-top: 600px
        padding: 0
        background-image: none
        &::before
            display: none

        h1
            transform: none
            font-size: 40px
            max-width: 700px
            margin: 0 auto 10px

        &__descr
            max-width: 600px
            margin: 0 auto 20px

        &__img
            width: 100%
            position: static
            background-image: url('../img/main-bg.jpg')
            background-repeat: no-repeat
            background-position: center center
            background-size: cover
            padding: 120px 0 120px
            img
                width: 700px
                max-width: 90%
                margin: 0 auto
                display: block

        .btn
            color: #000
            border-color: #000

        .container
            text-align: center
            max-width: 94%
            min-height: unset
            padding: 50px 40px
            top: -100px
            height: unset
            display: block
            background-color: rgba($yelow, .3)
            backdrop-filter: blur(20px)
            color: #000

    .list
        padding-top: 0
        h2
            margin-bottom: 30px
            text-align: center
        .wrap
            max-width: 700px
            margin: 0 auto
        .item
            width: 30%
            max-width: unset
            .img
                height: 190px

    .catalog
        .left
            display: none

        .right
            width: 100%

        .item
            .img
                width: 95%
                margin-bottom: 10px

            span
                font-size: 16px

    .faq
        h2
            margin-bottom: 50px

        .container
            display: block
            &::before
                height: calc(100% + 50px)

        .left, .title
            width: 100%

        .title
            padding: 30px 0 0
            p
                margin-bottom: 20px

    .rent
        .container
            &::before
                display: none
        h2
            margin-bottom: 20px
        &-img
            display: block
            margin: 0
            position: relative
            width: 100%
            right: auto
            top: -40px
            z-index: 1
            &::before
                content: ''
                display: block
                width: 100%
                height: 230px
                position: absolute
                bottom: 0
                right: 0
                z-index: -1
                background-color: rgba($yelow, .3)

        .wrap
            margin: 0 auto
            width: 100%

    .team
        display: none

    .guarantee
        h2
            margin-bottom: 30px

        &-title
            padding: 0 15px
            max-width: 100%

        &-img
            width: 100%
            max-width: 100%
            position: static
            transform: none
            margin: 0 auto 80px

        p
            margin: 0

    .map
        .wrap
            gap: 6px 6px

        span
            padding: 3px 10px 2px
            font-size: 12px

        .btn
            font-size: 12px
            padding: 8px 35px 6px 15px
            background-position: center right 15px

@media screen and ( max-width: 700px )
    .main
        h1
            font-size: 30px

        .container
            padding: 40px 20px
            max-width: 94%

        &__text
            font-size: 18px
        &__descr
            font-size: 16px

    .list
        padding: 0 15px 50px
        .wrap
            justify-content: space-between

        .item
            width: 49%
            margin-bottom: 30px
            &::after
                height: 30px
                background-size: contain
            .img
                height: 160px
            p
                font-size: 15px

            &:hover
                .img, p
                    transform: translateY(-30px)

    .catalog
        .item
            padding: 10px
            width: 50%
            span
                font-weight: 600
                font-size: 14px

    .guarantee
        h2
            margin-bottom: 20px

        &-img
            margin-bottom: 60px

        &-title
            padding: 0

    .faq

    .rent
        overflow: hidden
        &__text
            max-width: 100%
        &-img
            top: 0
            left: -15px
            width: 100vw
            margin: 80px 0 20px
            img
                transform-origin: 80% 100%
                transform: scale(1.2)
        .item
            padding: 20px 10px
            width: 100%
            max-width: 400px
            margin: 0 auto
            h3
                font-size: 16px
                text-transform: none

            p
                font-size: 12px
    .team
        display: none

@import 'footer'
